/* Encode Sans Condensed */
/* "Encode Sans Condensed" sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100..900&display=swap');

/* Encode Sans */
/* "Encode Sans" sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialised;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.nav {
    background-color: #98c5e9;
    height: 110px;
    margin-bottom: 40px;

    display: flex;
}

.nav__elements {
    margin: 0 auto;
    width: 65%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links ul {
    min-width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.nav__links li a {
    text-decoration: none;
    color: #001838;
    font-family: "Encode Sans Condensed", sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__links li {
    list-style: none;
}

.main {
    margin: 0 auto;
    width: 65%;
    margin-top: 40px;
}

.main__heading h1 {
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    font-size: 50px;
    color: #001838;
    margin-bottom: 20px;
}

.main__body {
    margin-bottom: 40px;
}

.main__body h2 {
    font-family: "Encode Sans", sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.main__body p {
    font-family: "Encode Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}
